.about,
.contact {
  position: relative;
  background-color: black;
  border-radius: 50px;
  max-width: 800px;
  min-height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

  @media (max-width: 550px) {
    top: 0;
    left: 0;
    margin: auto;
    transform: none;
  }

  h1 {
    font-size: 54px;
    padding: 30px;
  }
  p {
    font-size: 24px;
    padding: 20px 60px;
  }

  .contact-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 400px;
    font-size: 24px;
    padding: 100px;
    a {
      word-break: break-all;
    }
  }
}
