.navbar {
  flex: 0 0 90px;
  position: relative;
  right: 0;
  display: flex;
  order: 2;
  flex-direction: row;
  align-items: center;
  background-color: black;
  justify-content: center;

  @media (min-width: 768px) {
    flex-direction: column;
    align-items: center;
    bottom: 0;
  }

  .navbar-item {
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 0px;

  }

  .user-icon {
    animation: nav-link-load-vertical 1000ms ease-out 1100ms;
    animation-fill-mode: forwards;
    opacity: 0;
    background-image: url("../navbarIcons/user.png");

    &:hover, &.active {
      background-image: url("../navbarIcons/user-active.png");
    }

    @media (min-width: 768px) {
      animation-name: nav-link-load-horizontal;
    }
  }

  .projects-icon {
    animation: nav-link-load-vertical 1000ms ease-out 500ms;
    animation-fill-mode: forwards;
    opacity: 0;
    background-image: url("../navbarIcons/code.png");

    &:hover, &.active {
      background-image: url("../navbarIcons/code-active.png");
    }

    @media (min-width: 768px) {
      animation-name: nav-link-load-horizontal;
    }
  }

  .contact-icon {
    animation: nav-link-load-vertical 1000ms ease-out 200ms;
    animation-fill-mode: forwards;
    opacity: 0;
    background-image: url("../navbarIcons/message.png");

    &:hover, &.active {
      background-image: url("../navbarIcons/message-active.png");
    }

    @media (min-width: 768px) {
      animation-name: nav-link-load-horizontal;
    }
  }

  .skillset-icon {
    animation: nav-link-load-vertical 1000ms ease-out 800ms;
    animation-fill-mode: forwards;
    opacity: 0;
    background-image: url("../navbarIcons/star.png");

    &:hover, &.active {
      background-image: url("../navbarIcons/star-active.png");
    }

    @media (min-width: 768px) {
      animation-name: nav-link-load-horizontal;
    }
  }
}



@keyframes nav-link-load-vertical {
  0% {
    transform: translateX(-500%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
 }

 @keyframes nav-link-load-horizontal {
  0% {
    transform: translateY(-500%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
 }